/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #111827;
}

#clock {
    font-size: 4rem;
    color: #00ff99;
    background-color: #1f2937;
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 255, 153, 0.5);
    letter-spacing: 3px;
}